body {background-color:black;}
section {
  border:2px solid black;
  border-radius: 15px;
  background: white;
  margin: auto;
  padding: 1em
}
h1{color:gray;}
#calculator {
  padding: 1em 3em;
}
.highlight-yellow{
  background: yellow;
}

#summitCalcu{
  margin: 0em;
}